//
//  production.xcconfig
//  application
//
//  Created by HuyQuoc on 26/03/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_BUNDLE_IDENTIFIER = com.huyvtq.gapo-challenge
BUNDLE_DISPLAY_NAME = GapoChallenge
PRODUCT_NAME = Gapo
ENVIRONMENT = production
BASE_API_URL = https:$(SLASH)/gapowork.com
